/*.footer {
    background-color: $top-line-bg-color;
}
.footer__container {
    display: flex;
}
.footer__connections-card {
    display: flex;
}
.footer__connections {
    display: flex;
}
.footer__logo-container {

}
.footer__logo {

}
.footer__requisites-container {

}
.footer__address-container {

}
.footer__address {

}
.footer__email-container {

}
.footer__email {

}
.footer__phones {

}
.footer__phone-container {

}
.footer__phone {

}
.footer__developers-link {

}
.developers__link-container {

}
.developers__link {

}*/