$little-font-size: 12px;
$navigation-font-size: 14px;
$title-font-size: 64px;
$article-font-size: 18px;
$top-line-bg-color: #C8A35F;
$header-bg-color: #303339;
$section-bg-color: #393F47;
$text-color: #FFFFFF;